In [1]:
import pandas as pd

df = pd.DataFrame({'age':[20,24,28,23,32],'salary':[10000,11000,12500,10500,15500]})
df

   age  salary
0   20   10000
1   24   11000
2   28   12500
3   23   10500
4   32   15500

In [3]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit_transform(df)

array([[-1.29306549, -0.95720617],
       [-0.3352392 , -0.45341345],
       [ 0.62258709,  0.30227563],
       [-0.57469577, -0.70530981],
       [ 1.58041337,  1.8136538 ]])